@use "mixins"as *;

.howWorks {
  padding-bottom: 80px;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

    &>* {
      justify-self: center
    }

    @include media(900) {
      grid-template-columns: 1fr;
      gap: 36px;
    }
  }
}

.howWorks-item {
  position: relative;
  max-width: 262px;

  &__img {
    margin: 0 auto;
    border-radius: 100%;
    width: 207px;
    height: 207px;
    background: center / cover no-repeat;

    &_battery {
      background-image: url("./../img/howWorks__img_battery.webp");
    }

    &_switch {
      background-image: url("./../img/howWorks__img_switch.webp");
    }

    &_protect {
      background-image: url("./../img/howWorks__img_protect.webp");
    }
  }

  &__icon {
    position: absolute;
    left: 30px;
    top: 10px;
    border-radius: 100%;
    width: 76px;
    height: 76px;
    line-height: 103px;
    text-align: center;
    background-color: var(--mainColor);
  }

  &__svg {
    width: 40px;
    height: 40px;
    fill: #fff;
  }

  &__p {
    margin: -20px 0 0;
    font-weight: 500;
    text-align: center;
  }
}
