<section class="about">
  <div class="container-big about__container-big">
    <picture class="picture about__picture">
      <source class="picture__src" srcset="./img/about__img.webp" type="image/webp">
      <img class="picture__img" loading="lazy" src="./img/about__img.jpg" width="750" height="543"
        alt="Фото светильника">
    </picture>
    <div class="section-title section-title_white about__section-title">
      <div class="about__blot"></div>
      <h2 class="section-title__title">Что такое Smart Light</h2>
      <div class="section-title__icon">
        <svg class="section-title__svg">
          <use xlink:href="img/sprite.svg#section-title__icon-light"></use>
        </svg>
      </div>
      <p class="section-title__subtitle">
        Smart Light светильник, в который встроены ультраяркие и экономичные светодиоды COB.
      </p>
      <p class="section-title__subtitle">
        Светильник Smart Light не нуждается в подключении проводов и устанавливается буквально за 5 секунд на любую
        поверхность благодаря сверхнадежной липучке.
      </p>
      <p class="section-title__subtitle">
        Просто снимите полоску с липкого слоя, прижмите светильник к поверхности, отпустите – теперь у вас будет
        свет
        там, где его не хватало.
      </p>
    </div>
  </div>
</section>