<section class="hero">
  <div class="container-big hero__container-big">
    <div class="container hero__container">
      <picture class="high-quality hero__high-quality">
        <source class="high-quality__src" srcset="./img/hero__high-quality_img.svg" type="image/webp" />
        <img class="high-quality__img" loading="lazy" src="./img/hero__high-quality_img.svg" class="image" width="238"
          height="82" alt="Высочайшее качество" />
      </picture>
      <div class="sale hero__sale">
        <p class="sale__txt">Скидка</p>
        <p class="sale__num">-50%</p>
      </div>
      <div class="hero__title-wrap">
        <h1 class="hero__title">Светильник Smart Light</h1>
        <p class="hero__subtitle">
          Ультраяркий светильник с датчиком движения - фонарь для вашей дачи
        </p>
        <p class="hero__subsubtitle">Добавьте света там, где его не хватает</p>
      </div>
      <div class="prices hero__prices">
        <p class="prices__just">
          Обычная цена <span class="prices__crossed">2190 руб</span>
        </p>
        <p class="prices__now">
          Цена сегодня <br />
          <span class="prices__black">990 руб</span>
        </p>
        <button class="btn-reset btn prices__btn">Заказать</button>
      </div>
      <p class="quantity hero__quantity">
        Уже купили <span class="quantity__span">10786</span><strong class="quantity__strong">чел</strong>
      </p>
      <div class="hero__items">
        <div class="hero__item">
          <div class="hero__item-icon">
            <svg class="hero__item-svg">
              <use xlink:href="img/sprite.svg#icon__wire"></use>
            </svg>
          </div>
          <p class="hero__item-p">Установка без проводов</p>
        </div>
        <div class="hero__item">
          <div class="hero__item-icon">
            <svg class="hero__item-svg">
              <use xlink:href="img/sprite.svg#icon__rain"></use>
            </svg>
          </div>
          <p class="hero__item-p">Устойчив к любой непогоде</p>
        </div>
        <div class="hero__item">
          <div class="hero__item-icon">
            <svg class="hero__item-svg">
              <use xlink:href="img/sprite.svg#icon__foot"></use>
            </svg>
          </div>
          <p class="hero__item-p">Включение от движения</p>
        </div>
        <div class="hero__item">
          <div class="hero__item-icon">
            <svg class="hero__item-svg">
              <use xlink:href="img/sprite.svg#icon__wall"></use>
            </svg>
          </div>
          <p class="hero__item-p">Закрепляется на любой поверхности</p>
        </div>
      </div>
    </div>
    <picture class="hero__pic">
      <source class="hero__pic-src" srcset="./img/hero__img.webp" type="image/webp" />
      <img class="hero__pic-img" loading="lazy" src="./img/hero__img.png" class="image" width="1300" height="800"
        alt="Фото светильника" />
    </picture>
  </div>
</section>