<section class="howWorks">
  <div class="container howWorks__container">
    <div class="section-title howWorks__section-title">
      <h2 class="section-title__title">Работает тогда, когда вам необходимо</h2>
      <div class="section-title__icon">
        <svg class="section-title__svg">
          <use xlink:href="img/sprite.svg#section-title__icon-light"></use>
        </svg>
      </div>
      <p class="section-title__subtitle">
        В Smart Light встроен современный датчик движения, который включает светильник только в те моменты, когда
        поблизости появляются люди, домашние животные или, например, автомобиль. При необходимости, вы можете поменять
        режим работы на беспрерывное свечение.
      </p>
    </div>
    <div class="howWorks__items">
      <div class="howWorks-item">
        <div class="howWorks-item__img howWorks-item__img_battery"></div>
        <div class="howWorks-item__icon">
          <svg class="howWorks-item__svg">
            <use xlink:href="./img/sprite.svg#howWorks__icon_battery"></use>
          </svg>
        </div>
        <p class="howWorks-item__p">
          С одной стороны это позволяет экономить заряд батарей, а с другой – освещать пространство, когда это
          необходимо.
        </p>
      </div>
      <div class="howWorks-item">
        <div class="howWorks-item__img howWorks-item__img_switch"></div>
        <div class="howWorks-item__icon">
          <svg class="howWorks-item__svg">
            <use xlink:href="./img/sprite.svg#howWorks__icon_switch"></use>
          </svg>
        </div>
        <p class="howWorks-item__p">
          Вам не придется искать ключи или выключатель в темноте. Вы не споткнетесь и не упадете.
        </p>
      </div>
      <div class="howWorks-item">
        <div class="howWorks-item__img howWorks-item__img_protect"></div>
        <div class="howWorks-item__icon">
          <svg class="howWorks-item__svg">
            <use xlink:href="./img/sprite.svg#howWorks__icon_protect"></use>
          </svg>
        </div>
        <p class="howWorks-item__p">
          Защитит ваш дом и участок от непрошеных гостей и животных. При включении света они убегают.
        </p>
      </div>
    </div>
  </div>
</section>