<section class="where">
  <div class="container where__container">
    <div class="section-title section-title_white where__section-title">
      <h2 class="section-title__title">Где можно установить Smart Light</h2>
      <div class="section-title__icon">
        <svg class="section-title__svg">
          <use xlink:href="img/sprite.svg#section-title__icon-light"></use>
        </svg>
      </div>
      <p class="section-title__subtitle">
        Smart Light – автономный источник света, который можно использовать даже тогда, когда к даче совсем не подведено
        электричество, или когда его отключили.
      </p>
    </div>
    <div class="where__items">
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_door"></use>
          </svg>
        </div>
        <h3 class="where-item__title">Над входной дверью</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_gate"></use>
          </svg>
        </div>
        <h3 class="where-item__title">Над калиткой</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_garage"></use>
          </svg>
        </div>
        <h3 class="where-item__title">В гараже</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_attic"></use>
          </svg>
        </div>
        <h3 class="where-item__title">На чердаке</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_basement"></use>
          </svg>
        </div>
        <h3 class="where-item__title">В подвале</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_cellar"></use>
          </svg>
        </div>
        <h3 class="where-item__title">В погребе</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_barn"></use>
          </svg>
        </div>
        <h3 class="where-item__title">В сарае</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_wc"></use>
          </svg>
        </div>
        <h3 class="where-item__title">В туалете</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_alcove"></use>
          </svg>
        </div>
        <h3 class="where-item__title">В беседке</h3>
      </div>
      <div class="where-item">
        <div class="where-item__icon">
          <svg class="where-item__svg">
            <use xlink:href="img/sprite.svg#where__icon_veranda"></use>
          </svg>
        </div>
        <h3 class="where-item__title">На веранде</h3>
      </div>
    </div>
  </div>
</section>