<section class="worksWeather">
  <div class="container-big worksWeather__container-big">
    <div class="container worksWeather__container">
      <div class="section-title worksWeather__section-title">
        <h2 class="section-title__title">Работает при любой погоде</h2>
        <div class="section-title__icon">
          <svg class="section-title__svg">
            <use xlink:href="img/sprite.svg#section-title__icon-light"></use>
          </svg>
        </div>
        <p class="section-title__subtitle">
          Водонепроницаемый корпус надежно защищает светодиоды от ненастий погоды.
          Стабильная работа Smart Light гарантируется.
        </p>
      </div>
      <picture class="picture worksWeather__picture">
        <source class="picture__src" srcset="./img/worksWeather__img.webp" type="image/webp">
        <img class="picture__img" loading="lazy" src="./img/worksWeather__img.png" width="1000" height="870"
          alt="Фото светильника">
      </picture>
      <div class="worksWeather__items-wrap">
        <div class="worksWeather-item">
          <div class="worksWeather-item__icon-wrap">
            <svg class="worksWeather-item__svg">
              <use xlink:href="img/sprite.svg#worksWeather__icon_rain"></use>
            </svg>
          </div>
          <h3 class="worksWeather-item__title">В дождь</h3>
        </div>
        <div class="worksWeather-item">
          <div class="worksWeather-item__icon-wrap">
            <svg class="worksWeather-item__svg">
              <use xlink:href="img/sprite.svg#worksWeather__icon_snow"></use>
            </svg>
          </div>
          <h3 class="worksWeather-item__title">В снегопады</h3>
        </div>
        <div class="worksWeather-item">
          <div class="worksWeather-item__icon-wrap">
            <svg class="worksWeather-item__svg">
              <use xlink:href="img/sprite.svg#worksWeather__icon_cold"></use>
            </svg>
          </div>
          <h3 class="worksWeather-item__title">В морозы</h3>
        </div>
        <div class="worksWeather-item">
          <div class="worksWeather-item__icon-wrap">
            <svg class="worksWeather-item__svg">
              <use xlink:href="img/sprite.svg#worksWeather__icon_fog"></use>
            </svg>
          </div>
          <h3 class="worksWeather-item__title">В туманы</h3>
        </div>
        <div class="worksWeather-item">
          <div class="worksWeather-item__icon-wrap">
            <svg class="worksWeather-item__svg">
              <use xlink:href="img/sprite.svg#worksWeather__icon_hot"></use>
            </svg>
          </div>
          <h3 class="worksWeather-item__title">В изнуряющую жару</h3>
        </div>
        <div class="worksWeather-item">
          <div class="worksWeather-item__icon-wrap">
            <svg class="worksWeather-item__svg">
              <use xlink:href="img/sprite.svg#worksWeather__icon_wind"></use>
            </svg>
          </div>
          <h3 class="worksWeather-item__title">При сильном ветре</h3>
        </div>
      </div>
    </div>
  </div>
</section>