:root {
  --fontFamily: "Montserrat", sans-serif;
  --secondFamily: "Playfair Display", sans-serif;
  --contentWidth: 1300px;
  --siteWidthMax: 1500px;
  --siteWidthMin: 414px;
  --containerOffset: 15px;
  --containerWidth: calc(var(--contentWidth) + var(--containerOffset) * 2);
  --mainColor: #3ec1e9;
  --secondColor: #fd0;
  --fontColor: #1c1a1a;
  --iconColor: #0eb3e5;
}
