$fontFamily: "Montserrat", sans-serif;
$secondFamily: "Playfair Display", sans-serif;
$contentWidth: 1290px;
$containerOffset: 15px;
$containerWidth: calc($contentWidth + $containerOffset * 2);
$mainColor: #3ec1e9;
$secondColor: #fd0;
$fontColor: #1c1a1a;
